<launch>

  <group ns="mapf_base">
    <arg name="map" default="rgmap0207_low_reso.yaml" />
    <node name="map_server" pkg="map_server" type="map_server"
      args="$(find ridgeback_navigation)/maps/$(arg map)" />
    <!-- <node name="map_server" pkg="map_server" type="map_server"
      args="$(find rbx1_nav)/maps/$(arg map)" /> -->
  </group>

  <node pkg="mapf_base" type="mapf_base" name="mapf_base" output="screen" respawn="true">
    <rosparam file="$(find mapf_base)/params/costmap_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mapf_base)/params/mapf_params.yaml" command="load" />

    <param name="mapf_planner" value="mapf_planner/SIPPROS" />
    <rosparam file="$(find mapf_base)/params/ecbs_params.yaml" command="load" />
  </node>

  <group ns="mapf_base">
    <node pkg="mapf_base" type="goal_transformer" name="goal_transformer"
      output="screen" respawn="false">
    </node>
    <!-- <node pkg="mapf_base" type="plan_executor" name="plan_executor"
      output="screen" respawn="false">
    </node> -->
  </group>

</launch>